.courseContainer{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

.box{
    padding: 10px;
}

button{
    font-size: 14px;
    border: 1px solid #000;
}

.enrolled{
    background-color: lightblue;
}
.notenrolled{
    background-color: lightcoral;
}
.toogleCourse{
    font-size: 20px;
    text-align: center;
}
.activeCourse{
    background-color: aquamarine;
}